@import './variables';
.html {
  margin:0;
  padding: 0;
}
.container-fluid {
  margin:0px;
  padding:0px;
}
label {
  font-size: 16px;
  color: $theme-text-color;
  width: 100%;
}

.text-mandatory {
  color: $red-color;
}

.error-text {
  color: $red-color;
}

#formikDarkMode {
  .container-fluid {
    color: white;
    height: auto;
    min-height: 100vh;
    transition: color 0.5s linear;
    label {
      color: white !important;
      transition: color 0.5s linear;
    }
  }
  .bg-theme {
    background-color: $dark-background;
    transition: background-color 0.5s linear;
  }
  .nav-bar-bg {
    background-color: $high-dark-background;
    transition: background-color 0.5s linear;
  }
  .navbar-brand {
    color: white;
  }

}

#formikLightMode {
  .container-fluid {
    color: black;
    height: auto;
    min-height: 100vh;
    transition: color 0.5s linear;
    input,textarea, .ck-editor__editable, .css-1hwfws3  {
      background: $very-light-background !important;
    }
    label {
      color: black !important;
      transition: color 0.5s linear;
    }
  }
  .bg-theme {
    background-color: $light-background;
    transition: background-color 0.5s linear;
  }
  .nav-bar-bg {
    background-color: $very-light-background;
    transition: background-color 0.5s linear;
  }

}